.card{
    color: var(--secondary-color);
    width: 1200px;
}
input[type = text], input[type = email]{
    height: 20px;
    padding-left: 30px;
    font-size: 13px;
    width: 100%;
}
.btn-sub{
    height: 58px ;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}
.sub-text{
    width: 500px;
}
