<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>

        <form>
            <label for="">Name</label>
            <input type="" class="form-control shadow-effect" placeholder="Ennter your name here">
            <textarea cols="30 mt-3" rows="10" class="form-control shadow-effect" placeholder="Add your comment here"></textarea>
            <button class="btn btn-info mt-3">Add a Comment</button> 
        </form>

    </div>

</div>
