<section class="mt-5 bg-primary-theme">
  <div class="mt-5 mb-5 ">
    <h1 class="text-blue text-center">ABOUT US</h1>
    <div class="p-5 mt-4 text text-black">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quos
        pariatur eos rem asperiores similique ut. Temporibus ipsam natus
        accusamus eos, id qui expedita officiis sit numquam, asperiores, quia
        maiores.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quos
        pariatur eos rem asperiores similique ut. Temporibus ipsam natus
        accusamus eos, id qui expedita officiis sit numquam, asperiores, quia
        maiores.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quos
        pariatur eos rem asperiores similique ut. Temporibus ipsam natus
        accusamus eos, id qui expedita officiis sit numquam, asperiores, quia
        maiores.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
