<div class="container">
  <div class="row">
    <div class="col-md-9">

        <div class="card shadow-effect">
            <img src="assets/pramod-tiwari-u5Ij9vEsTIY-unsplash.jpg" alt="single-post" class="card-img-top img-fluid"/>            <div class="card-body">
                <div class="card-body">
                    <small class="bg-light text-danger">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,250</small>
                    <small class="bg-light text-warning ml-2">LAST UPDATED - SEP 20, 2024</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED CATEGORY</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet eaque consequuntur, fuga quis quisquam quibusdam provident dicta quas voluptatibus cupiditate beatae? Cum accusamus quos natus doloremque non reiciendis excepturi sunt minima quasi quaerat! Culpa minima in hic ipsum unde iusto iure exercitationem, libero earum amet natus consectetur voluptate beatae nemo?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
      </div>
  </div>
</div>
