<div class="card">
    <img src="assets/t.k.1.6.jpeg" alt="post-card" class="card-img-top">
    <div class="card-body">
            <small class="bg-light text-danger text-center">Design</small>
            <small class="bg-light text-success text-center ml-3">Featured</small>
            <small class="bg-light text-info text-center ml-3">Views- 100,200</small>

            <h5 class="mt-1">HOW TO START A BLOG IN 2024</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, suscipit accusamus, molestias fugit iste et eveniet aspernatur accusantium aut quos perspiciatis! Iste molestiae rerum necessitatibus incidunt unde dicta ipsa doloribus?</p>
            

            <small class="bg-light text-warning text-center ml-3">LAST UPDATTED - SEP 20, 2024 </small>

    </div>
</div>